/**
 * Common
 */
$bg-color:                         aliceblue;
$fg-color:                         #646363;
$main-font:                        Georgia, sans-serif;

/**
 * Typography
 */
$font-family: $main-font;
$font-size: 13px;
$font-color: $fg-color;

